
.services-section{
   
}
.ser-bg{
    background-color: black;
    /* padding-top: 2rem; */
    /* padding-bottom: 4rem; */
    /* height: 1000px; */
    padding-bottom: 17rem;
}
.corner-shelf{
  /* background: url(/images/corner-shelf.png) no-repeat; */
  height: 4rem;
  /* background-size: contain; */
  /* background-position: center center; */
}
.corner-shelf img{
    width: 270px;
}
.service-headContent{
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    
}
.vert-card-center{
    /* display: flex;
    justify-content: center; */
    
}
.vert-card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.vert-mt{
    margin-top: 6rem;
}
.vert-card-center:nth-child(2) .vert-card{
    margin-top: 6rem;
}
.vert-card-img{
    text-align: center;
    padding: 2rem;
}
.vert-card-img img{
    width: 55px;
}
.vert-card-content h4{
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
}
.vert-card-content p{
    text-align: justify;
    margin-bottom: 0;
    font-size: 16px;
}
.grid{
    display: grid;
    gap: 1rem;
}
.mob-icon-grp{
    display: flex;
    column-gap: 1rem;
}
.mob-icon-grp img{
    width: 50px;
}
.msg-img img{
    width: 150px;
}
.mobApp-section{
    margin-top: 2rem;
}
.mob-title{
    color: #407BFF;
    font-size: 4.2rem;
    font-weight: 400;
}
.mob-content p{
    text-align: justify;
    margin-bottom: 6rem;
}
.mob-content h3{
    color: #000000;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 5rem ;
}
.toolTechSection{
    background-color: #000000;
    padding: 4rem 0;
    border-top: 8px solid transparent; /* Reserve space for the gradient */
    border-image: linear-gradient(90deg, #5F2DEE, #0EE2F6) 1;
    padding: 3rem 0; /* Adjust as needed */
}
.toolTechSection h3 {
    font-size: 2rem; /* Adjust as needed */
    background: linear-gradient(50deg, #5F2DEE, #0EE2F6);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.toolTech-img{
    text-align: center;
}
.toolTech-img img{
    width: 75%;
}
.mid-img-position{
    position: relative;
}
.mob-with-hand{
    position: absolute;
    bottom: 0;
    left: 9%;
    width: 382px;
}
.ser-heading{
    position: absolute;
    /* top: 43%; */
    top: 80%;
    left: 4%;
    transform: translateX(-50%) rotate(270deg);
    z-index: 2;
    font-size: 3.7rem;
    font-weight: bold;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%) text;
    color: transparent;
}
.mob-view-only{
    display: none;
}
@media (max-width: 575.98px) {
    .mob-with-hand{
        display: none;
    }
    .mob-view-only{
        display: block;
    }
    .mob-view-only{
        width: 75%;
        margin: auto;
        /* text-align: center; */
    }
    .mob-view-only img{
        text-align: center;
    }
    .mob-title {
        color: #407BFF;
        font-size: 3.2rem;
    }
    .mob-content h3{
        font-size: 2.7rem !important;
    }
    .mob-title, .mob-content, .mob-content p{
        text-align: center;
    }
}
@media (max-width: 767.98px) {
    .mob-with-hand{
        position:static;
        width: auto;
    }
    .ser-bg{
        height: auto;
    }
    .vert-mt{
        margin-top: 0;
    }
    /* .vert-card-center:nth-child(2) .vert-card{
        margin-top: 0rem;
    } */
    .mob-content p{
        margin-bottom: 2rem;
    }
    .mob-content h3{
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }
    .msg-img{
        float: right;
    }

    .ser-bg{
        padding-bottom: 3rem;
    }
    .corner-shelf{
        height: 3rem;
    }
    .service-headContent{
        margin-bottom: 3rem;
    }
    .ser-heading{
        position: sticky;
        font-size: 2.5rem;
        text-align: center;
        transform: none;
        top: auto;
        left: auto;
        margin-bottom: 1rem;
    }
}
@media (max-width: 991.98px) { 
    .vert-card-center:nth-child(2) .vert-card{
        margin-top: 0 !important;
    }
    .vert-card{
        width: 100%;
    }
}