
.products-section{
   
}
.pro-bg{
    background-color: black;
    /* padding-top: 2rem; */
    padding-bottom: 4rem;
    /* height: 1000px; */
}
.corner-shelf{
  /* background: url(/images/corner-shelf.png) no-repeat; */
  height: 4rem;
  /* background-size: contain; */
  /* background-position: center center; */
}
.corner-shelf img{
    width: 270px;
}
.prod-Padding{
    padding-right: 0px !important;
}
.product-headContent{
    color: white;
    margin-bottom: 4rem;
    padding: 2rem;
}
.product-headContent h3 {
    background: linear-gradient(90deg, #5F2DEE, #0EE2F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.product-headContent p{
    text-align: justify;
    line-height: 30px;
    font-weight: lighter;
    /* white-space: normal; */
    /* word-spacing: normal; */

}
.detailList2{
  margin: 2rem;
}
.detailList2 .list-icon img{
    margin-right: 0.5rem;
    width: 25px;
}
.detailList2 tbody{
    display: grid;
    row-gap: 1rem;
}
.detailList2 tbody td{
    color: #fff;
}
.prod-img img{

}
.prod-pad-right{
    padding-right: 0 !important;
}

.prod-2nd-sec{
    position: relative;
    height: 100%;
}
.pattern-grp{
    display: flex;
    /* flex-direction: row-reverse; */
}
.box-pattern1{
    width: 20%;
    height: 500px;
    background-color: #ffffff;
}
.box-pattern2{
    width: 80%;
    height: 500px;
    background-color: #F3F3F3;
}
.box-pattern3{
    width: 100%;
    /* height: 300px; */
    height: 16rem;
    background-color: #ffffff;
}
.solution-content{
    position: absolute;
    /* top: 70px; */
    top: 8rem;
}
.text-container {
    position: absolute;
    font-family: 'Arial', sans-serif;
    color: #d3d3d3;
    font-weight: bold;
    font-size: 4rem;
    white-space: nowrap;
    top: 2rem;
  }

  .main-text {
    display: inline-block;
    position: relative;
  }

  .highlight {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #5F2DEE, #0EE2F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9rem;
  }

  .solution-text {
    margin-left: 1rem;
  } 

  .prod-content-grp {
    list-style: disc;
    padding-left: 1.5rem;
  }

  .prod-content-grp li {
    margin-bottom: 1.5rem;
  }

  .prod-content-grp li h6 {
    color: #5B8EFF; /* Blue color for title */
    font-size: 1.1rem;
  }

  .prod-content-grp li p {
    color: #000; /* Black color for paragraph text */
    font-size: 0.95rem;
  }

  .prod-content-grp li::marker {
    color: #5B8EFF; /* Blue color for bullets */
  }
  .prod-content-grp li img {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  }

  .pad-left0{
    padding-left: 0 !important;
  }
  .pad-right0{
    padding-right: 0 !important;
  }
  .prod-content{
    padding: 0 2rem;
  }
  .prod-content p{
      text-align: justify;
      line-height: 30px;
      margin-bottom: 0;
  }
  .prod-content h5{
    margin-bottom: 2rem;
    font-size: 27px;
  }
  .prod-3rd-sec{
    padding: 1rem 0 4rem 0;
    display: grid;
    row-gap: 3rem;
  }
  .prod-3rd-sec img{
    width:600px;
    border-radius: 30px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
    /* box-shadow: rgba(91, 142, 255, 0.4) 5px 5px, 
    rgba(91, 142, 255, 0.3) 10px 10px, 
    rgba(91, 142, 255, 0.2) 15px 15px, 
    rgba(91, 142, 255, 0.1) 20px 20px, 
    rgba(91, 142, 255, 0.05) 25px 25px; */
    
    box-shadow: rgba(91, 142, 255, 0.4) 5px 5px, 
    rgba(248, 249, 250, 0.3) 10px 10px, 
    rgba(91, 142, 255, 0.2) 15px 15px, 
    rgba(248, 249, 250, 0.1) 20px 20px, 
    rgba(91, 142, 255, 0.05) 25px 25px;
  }
  .mid-odd-img-mob{
    display: none;
  }
  @media (max-width: 767.98px) {
    .prod-pad-right{
      padding-right: 2em !important;
    }
    .prod-2nd-sec{
      padding: 2rem 0;
      background-color: #F3F3F3;
    }
    .product-headContent{
      margin-bottom: 1rem;
      padding: 0rem;
    }
    .pattern-grp, .box-pattern3{
      display: none;
    }
    .solution-content{
      position: static;
    }
    .text-container{
      position: static;
      font-size: 3.2rem;
      text-align: center;
      line-height: 55px;
      margin-bottom: 1.5rem;
      color: #cbc9c9;
    }
    .solution-text{
      display: block;
      margin-left: 0;
    }
    .highlight{
      font-size: 1.5rem;
    }
    .prod-content-grp:last-child{
      margin-bottom: 0;
    }
    .prod-3rd-sec img{
      border-radius: 30px;
      width: 90%;
    }
    .pad-left0{
      padding-left: 2rem !important;
    }
    .pad-right0{
      padding-right: 2rem !important;
    }
    .prod-3rd-sec{
      padding: 3rem 0;
      row-gap: 2rem;
    }
    .prod-content h5{
      margin-bottom: 0.5rem;
    }
    .prod-img-align{
      text-align: center !important;
    }
    .mid-odd-img-mob{
      display: block;
    }
    .mid-odd-img-web{
      display: none;
    }
    .product-headContent h3{
      margin-bottom: 1rem;
    }
    .detailList2 {
      margin: 1rem;
    }
    .corner-shelf{
      height: 3rem;
    }
    .pro-bg{
      padding-bottom: 3rem;
    }
  }
  @media (max-width: 575.98px) {
    .pad-left0{
      padding-left: 1rem !important;
    }
    .pad-right0{
      padding-right: 1rem !important;
    }
    .prod-content {
      padding: 0 0.5rem;
    }
    .prod-pad-right {
      padding-right: 1em !important;
    }
    .text-container{
      font-size: 1.8rem;
      line-height: 33px;
      margin-bottom: 1rem;
    }
    .highlight {
      font-size: 1.2rem;
    }
  }