
.custom-container{
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.fullWrapper{
  width: 100%;
}


.grid{
  display: grid;
  gap: 1rem;
}
.grid-one-cols{
  grid-template-columns: repeat(1, 1fr);
}
.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767.98px) {
  .custom-container{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  } 
  .custo-voices-card{
    margin-bottom: 2rem;
  }
  .grid-three-cols{
    grid-template-columns: repeat(2, 1fr);
  }
  .card-content{
    flex-direction: row;
  }
  .card1{
    display: block;
    /* flex-direction: row; */
  }
  .content-wrap{
    border-left: none;
  }
  .content-wrap .card-title{
    text-align: center;
  }
  .content-wrap .card-text{
    text-align: center;
  }
  .img-icon img{
    width: 45px;
  }
  .dri-box-main{
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
  }
  .grid-two-cols{
    grid-template-columns: repeat(1, 1fr);
  }
  .exp-content-right, .exp-content-left{
    margin: 0 2rem !important;
    /* padding: 0 1rem; */
  }
  .career-content2{
    min-height: 300px !important;
  }
  .tringle-box{
    width: 100% !important;
    min-height: 300px !important;
  }
  .tringle-box h4{
    text-align: start !important;
  }
  .mob-tab-gy{
    --bs-gutter-y: 2rem !important;
  }
  .career-icon, .career-text{
    text-align: center;
  }
  .career-icon img{
    margin-bottom: 1rem;
    width: 120px;
  }
  .career-content {
    padding: 3rem 1rem !important;
  }
  .contact-container{
    padding: 1rem 1.5rem !important;
    grid-template-columns: 1fr !important;
  }
  .contact-detail{
    max-height: fit-content;
  }
  .right-column{
    grid-template-rows: 1fr !important;
  }
  .contact-form .input-group .contactButton{
    margin-top: 0;
  }
  .right-car-img{
    text-align: center !important;
  }
  .left-car-content .newsletter-form .input-group {
    max-width: 100% !important;
  }
  .left-car-content h3, .left-car-content p{
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .custo-voices-card{
    margin-bottom: 2rem;
  }
  .custo-voices-card:last-child{
    margin-bottom: 0;
  }
  .custom-container{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .grid-three-cols{
    grid-template-columns: repeat(1, 1fr);
  }
  .card1{
    display: block;
    /* flex-direction: row; */
  }
  .content-wrap{
    border-left: none;
  }
  .content-wrap .card-title{
    text-align: center;
  }
  .content-wrap .card-text{
    text-align: center;
  }
  .img-icon img{
    width: 45px;
  }
  .career-content {
    padding: 2rem 1rem !important;
  }
  .exp-content-right, .exp-content-left{
    margin: 0 1rem !important;
    /* padding: 0 1rem; */
  }
  .contact-container{
    padding: 1rem 1rem !important;
  }
  .right-car-img img{
    height: auto !important;
  }
}


@media (max-width: 991.98px) {
  .navbar-nav{
    width: 100% !important;
    background-color: #ffffff !important;
    border-radius: none !important;
  } 

}