/* .header{
    padding: 1rem 0;
    background-color: #ffffff;
} */
.header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.scrolled {
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.95); /* Slight transparency */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
  .navbar-nav {
    background-color: #f8f9fa;
    width: fit-content;
    border-radius: 52px;
    padding: 5px 15px !important;
  
  }
  /* Add shadow & slight color tweak when scrolled */
.scrolled .navbar-nav {
  background-color: #f1f3f5; /* Slightly darker for better visibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07); /* Light shadow */
}
  .navbar-nav .nav-link{
    font-family: "Poppins", serif;
    font-weight: 400;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-toggler:focus{
    box-shadow: none !important;
  }
  /* Smoothly hide the navbar menu */
.collapse {
  transition: height 0.4s ease-in-out !important;
}
.headerLogo{
  width: 150px;
}
.navbar{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.nav-link.active {
    font-weight: 400;
    /* background-color: #74acf5 !important; */
    /* border: 2px solid #74acf5 !important; */
    /* border-radius: 20px; */
    color: #74acf5 !important;
    /* transition: 0.3s ease-in-out; */
}
.nav-item .dropdown-toggle{
  color: none;
}
